.container
	margin: 0 auto
	max-width: $container-width
	padding: 0 50px
	&--narrow
		max-width: $narrow-container-width
	+media(tablet-small)
		padding: 0 30px
	+media(palm)
		padding: 0 20px

.grid
	font-size: 0 
	> *
		display: inline-block
		vertical-align: top
		min-height: 10px
@for $column from 1 through $grid-columns
	@for $num from 1 through $column
		// Push
		.grid-push-#{$num}of#{$column}
			left: ($num/$column) * 100%;
		// Pull
		.grid-pull-#{$num}of#{$column}
			right: ($num/$column) * 100%;
		// Grid Col
		.grid-#{$num}of#{$column}
			width: ($num/$column) * 100%
			position: relative;
@each $key, $value in $breakpoints
	@media #{map-get($value, 'breakpoint')}
		@for $column from 1 through $grid-columns
			@for $num from 1 through $column
				.grid-#{$num}of#{$column}--#{$key}
					width: ($num/$column) * 100%;
					left: 0;
					right: 0;