// Colors
$theme-black: rgba(0, 8, 7, 1);
$theme-white: #fff;
$theme-mint: rgba(153, 213, 201, 1);
$theme-brown: rgba(72, 64, 65, 1);
$theme-purple: rgba(67, 67, 113, 1);
$theme-rose: rgba(234, 82, 111, 1);