// Colors
$theme-black: rgba(0, 8, 7, 1);
$theme-white: #fff;
$theme-green: #83B692;
$theme-dark-green: #012622;
$theme-brown: #393D3F;
$theme-indigo: #2B4141;
$theme-rose: #EA526F;

// Grid
$grid-columns: 12;

// Breakpoints
$breakpoints: (
	monitor-cinema: ( breakpoint: "(min-width: 3200px)" ),
	monitor-tele: ( breakpoint: "(min-width: 1800px)" ),
	notebook-large: (breakpoint: "(max-width: 1199px)" ),
	notebook-small: (breakpoint: "(max-width: 949px)" ),
	tablet-large: (breakpoint: "(max-width: 849px)" ),
	tablet-small: (breakpoint: "(max-width: 749px)" ),
	palm: (breakpoint: "(max-width: 540px)" ),
	phone: (breakpoint: "(max-width: 420px)" )
);

// Containers
$narrow-container-width: 75%;
$container-width: 85%;

// Fonts
$default-font-size: 1.2rem;
$header-font: 'Source Sans Pro', sans-serif;
$body-font: 'Montserrat', sans-serif;