{% extends "base.twig" %}

{% block content %}
  <main class="page_content">
    <header></header>
    <article class="container">
      <div class="grid"></div>
    </article>
  </main>
{% endblock %}
